{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="container p-5">
    <div class="row shadow-box p-5">
        <div class="text-center mb-4">
            <h3>Furever Precious</h3>
            <h6> Pet products for your precious ones.</h6>    
        </div>

        <p>It is a destination for pet lovers. Located in the beautiful village of Ballston Spa, Furever Precious was curated by the owner's love and care for animals with one thing in mind, i.e. to give back to those without voices of their own.</p>

        <p>Spliced on the rack, you will discover a mix of all your favourite physical pet products such as anxiety relief jackets and mats, T-shirts, clothes, beds, leashes, and many more. We have different sized products for different sized pets ranging from small, meduim and large.</p>

        <p>Spoil your pets with our beautifully designed and unique products that not only adds style but comfort and care. Purchases made at Furever Precious support small local business - shop local, shop small!</p>
    </div>
</div>
{% endblock content %}