{% extends "store/base.html" %}
{% load static %}
{% block content %}
    {% if cart %}
        <!-- Cart Items Detail -->
        <div class="container mt-5 table-responsive-sm">
            <table class="table cart">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>

                {% for order in cart %}
                    <tr>
                        <td>
                            <div class="cart-info row">
                                {% if order.product_variant %}
                                     <div class="col col-md-3">
                                         <img src="{{ order.product_variant.image }}" alt="">
                                     </div>
                                     <div class="col">
                                         <p class="mb-0">{{ order.product.name }}</p>
                                         <p class="fw-light mb-2">
                                            {% if order.product_variant.size %}
                                                {{ order.product_variant.size }}
                                            {% else %}
                                                One Size
                                            {% endif %} | {{ order.product_variant.color }}
                                        </p>
                                        <small>Price: {{ order.product_variant.price }}</small>
                                        <br>
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'delete_cart' order.id %}" onclick="return confirm('Remove the item from your cart?');">Remove</a>
                                        {% endif %}
                                     </div>        
                                 {% else %}
                                     <div class="col-3">
                                         <img src="{{ order.product.image.url }}" alt="">
                                     </div>
                                     <div class="col">
                                         <p>{{ order.product.name }}</p>
                                         <small>Price: {{ order.product.price }}</small>
                                         <br>
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'delete_cart' order.id %}" class="confirm-delete" data-confirm='Remove the item from your cart?'>Remove</a>
                                        {% endif %}
                                     </div>
                                 {% endif %}
                             </div>
                        </td>
                        <td>
                            <div class="btn-group plus-minus" role="group">
                                <button type="button" class="btn btn-outline-danger fas fa-minus plus-minus-button" data-product="{{ order.product.id }}" data-size="{{ order.product_variant.size.id }}" data-color="{{ order.product_variant.color.id }}"></button>
                                <button type="button" class="btn btn-outline-danger item-qty">{{ order.quantity }}</button>
                                <button type="button" class="btn btn-outline-danger fas fa-plus plus-minus-button" data-product="{{ order.product.id }}" data-size="{{ order.product_variant.size.id }}" data-color="{{ order.product_variant.color.id }}"></button>
                            </div>
                        </td>
                        <td>${{ order.amount }}</td>
                    </tr>
                {% endfor %}

            </table>

            <div class="total-price">
                <table class="table table-borderless align-self-end">
                    <tr>
                        <td>Subtotal</td>
                        <td>${{ sub_total }}</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>$0.00</td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>${{ total }}</td>
                        </tr>
                </tfoot>
                </table>
            </div>
            <div class="mb-5">
                <form action="{% url 'create-checkout-session' %}" method="POST">
                    <button class="btn btn-dark float-end">Make Payment</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="p-5 text-center no-cart">
            <img src="{% static 'store/images/empty-cart-dog.jpg' %}" alt="">
            <h2>CART</h2>
            <p>There are no items in your cart.</p>
            <a href="{% url 'products' %}" class="link">Continue shopping</a>
        </div>
    {% endif %}
{% endblock content %}









