{% extends "store/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid text-center pt-5">
        <div class="row showcase">
            <div class="col-sm pt-5">
            <h1 class="fw-normal">Pet Supplies, Save Lives</h1>
                <p>We offer the most exciting and unique pet products on the market today ranging from clothes, beds, leashes, and many more!
                What we really are proud of is being able to give back to those without voices of their own.</p>
                <a href="{% url 'about' %}" class="btn btn-dark">Learn More</a>
            </div>
            <div class="col">
                <img src="{% static 'store/images/showcase.png' %}" class="img-fluid" alt="Showcase image of a frenchie">
            </div>
        </div>
    </div>

    <!-- Featured Products -->
    <div class="container mb-5">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            {% for product in featured_products %}
                <a href="{% url 'product' product.id %}" class="col-md-6 col-lg-3 products">
                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product }}">
                    <h2>{{ product.name }} <span class="price">${{ product.price }}</span></h2>
                    {% if product.review_average %}
                    <div class="rating">
                        {% for rating in product.review_average %}
                            <i class="{{ rating }}" aria-hidden="true"></i>
                        {% endfor %}
                        {{ product.review_count }} Review{{ product.review_count|pluralize }}
                    </div>
                    {% else %}
                        <span class="pink">New!</span>
                    {% endif %}
                  
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- Pre Order -->
    <div class="container-fluid">
        <div class="row bg-pink">
            <div class="col-sm">
                <img src="{% static 'store/images/hammock.png' %}" class="img-fluid p-5" alt="Image of a cat hammock for preorder">
            </div>
            <div class="col pt-5 p-5">
                <p>Exclusively Available On Pre-Order</p>
                <h1>Cat Window Hammock</h1>
                <p>Safety suction cups powered cat window hammock saving space, use as a mounted cat window perch bed, ideal for a sunbath.</p>
                <a href="mailto: fureverpreciouspets@gmail.com" class="btn btn-dark">Pre-Order Now</a>
            </div>
        </div>
    </div>


    <!-- Testimonial -->
        <div class="container-lg py-5">
            <div class="row justify-content-evenly p-5 p-sm-0">
                <div class="col-md-3 testimonial">
                    <i class="fa fa-quote-left"></i>
                    <p>What I found really cool about Furever Precious is that despite being a small company, they have the best service and customer satifaction is guaranteed. No excuses on exchange or refund process.</p>
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                    </div>
                    <img src="{% static 'store/images/user-1.png' %}" alt="Image of a reviewer">
                    <h3>Cheyenne Parker</h3>
                </div>
                <div class="col-md-3 m-5 my-sm-0 testimonial">
                    <i class="fa fa-quote-left"></i>
                    <p>You can really tell they put the work in and truly care about pets in general. They help in pet rescue and foster which further proves my point. (You will be greeted by a small frenchie Cyrus if you visit their store!)</p>
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                    </div>
                    <img src="{% static 'store/images/user-2.png' %}" alt="Image of a reviewer">
                    <h3>Sean Deans</h3>
                </div>
                <div class="col-md-3 testimonial">
                    <i class="fa fa-quote-left"></i>
                    <p>The best pet supply store for me. They have products I couldn't find anywhere else such as Amazon and Target. A true gem for us pet owners who want unique and amazing products for our Furever Precious Pets.</p>
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                    </div>
                    <img src="{% static 'store/images/user-3.png' %}" alt="Image of a reviewer">
                    <h3>Sabrina Lynn</h3>
                </div>
            </div>
        </div>
{% endblock content %}

