{% extends 'store/base.html' %}

{% block content %}
<div class="container p-5">
    <div class="row shadow-box p-5">
        <div class="text-center mb-4">
            <h3>Return Policy</h3>   
        </div>

        <p>We have a 30-day return policy, which means you have 30 days after receiving your item to request a return.</p>
        <p>To be eligible for a return, your item must be in the same condition that you received it, unworn or unused, with tags, and in its original packaging. You’ll also need the receipt or proof of purchase.</p>
        <p>To start a return, you can contact us at <a href="mailto: fureverpreciouspets@gmail.com">fureverpreciouspets@gmail.com</a>. If your return is accepted, we’ll send you a return shipping label, as well as instructions on how and where to send your package. Items sent back to us without first requesting a return will not be accepted.</p>
        <p>You can always contact us for any return question at <a href="mailto: fureverpreciouspets@gmail.com">fureverpreciouspets@gmail.com</a>.</p>
    </div>
</div>

{% endblock content %}