{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid bg-pink p-5">
        <div class="login-form mx-auto">
            <div>
                <legend class="border-bottom mb-4">Login</legend>
            </div>

            <form action="{% url 'user-login' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-dark">Login</button>
                </div>
                <div class="border-top my-3 pt-2">
                    <small class="text-muted">
                        <a href="{% url 'password-reset' %}">Forgot password</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
