{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row px-3 px-md-0 profile">
        <div class="col-12 col-md-2">
            <img class="img-fluid" src="{{ user.profile.image.url }}" alt="Image of {{ user.profile }}">
        </div>
        <div class="col">
            <h3>{{ user.username }}</h3>
            <p>{{ user.email }}</p>
        
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <button class="btn btn-dark" type="submit">Update</button>
            </form>
        </div>
        <div class="col-md-3 col-lg-2 list-group-flush d-none d-md-block">
            <h4 class="fw-normal">QUICK LINKS</h4>
            <a href="" class="list-group-item list-group-item-action">My profile</a>
            <a href="#my-reviews" class="list-group-item list-group-item-action">My reviews</a>
            <a href="#my-orders" class="list-group-item list-group-item-action">My orders</a>
            <a href="{% url 'change-password' %}" class="list-group-item list-group-item-action">Change Password</a>
        </div>
        <div class="table-responsive mt-5" id="my-reviews">
            <h2 class="text-center">My Reviews</h2>
            {% if reviews %}
                <table class="table mt-5">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Rating</th>
                            <th>Subject</th>
                            <th>Review</th>
                            <th>Date added</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for review in reviews %}
                            <tr>
                                <td>
                                    <div class="cart-info">
                                        <img src="{{ review.product.image.url }}" alt="{{ review.product }}">
                                        <div>
                                            <p>{{ review.product.name }}</p>
                                            <small>Price: {{ review.product.price }}</small>
                                            <br>
                                            <a href="{% url 'user-review-delete' review.id %}" class="confirm-delete" data-confirm="Are you sure to remove your review?">Remove</a>
                                        </div>
                                    </div>     
                                </td>
                                <td>{{ review.rating }}/5</td>
                                <td>{{ review.subject }}</td>
                                <td>{{ review.review }}</td>
                                <td>{{ review.date_added }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="text-center">
                    <p class="m-1">Your haven't reviewed any products yet.</p>
                    <a href="{% url 'products' %}" class="link">Continue shopping</a>
                </div>
            {% endif %}
        </div>
        <div class="col" id="my-orders">
            <h2 class="text-center mt-5">My Orders</h2>
            {% if orders %}
                {% for order in orders %}
                    <div class="card mb-5">
                        <div class="card-header bg-pink">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <td>ORDER PLACED</td>
                                        <td>SHIP TO</td>
                                        <td>TOTAL</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ order.date_added }}</td>
                                        <td>{{ order }}</td>
                                        <td>{{ order.total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th class="text-center">Quantity</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                {% for order_product in order.orderproduct_set.all %}
                                    <tr>
                                        <td>
                                            <div class="cart-info row">   
                                                <div class="col col-md-3">
                                                    <img src="{{ order_product.image }}" alt="{{ order_product }}">
                                                    dasd {{ order_product }}
                                                </div>
                                                <div class="col">
                                                    <p class="mb-0">{{ order_product }}</p>
                                                    <p class="fw-light mb-2">{{ order_product.product_variant.size }} | {{ order_product.product_variant.color }}</p>
                                                    <small>Price: ${{ order_product.price }}</small>
                                                </div>        
                                            </div>
                                        </td>
                                        <td class="text-center">{{ order_product.quantity }}</td>
                                        <td>${{ order_product.amount }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center mb-5">
                    <p class="m-1">Your orders haven't been fullfilled yet.</p>
                    <a href="{% url 'products' %}" class="link">Continue shopping</a>
                </div>
            {% endif %}
        </div>
    </div> 
</div>

{% endblock content %}
